In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

In [2]:
city_data_df.head()

           city  driver_count   type
0   Richardfort            38  Urban
1  Williamsstad            59  Urban
2   Port Angela            67  Urban
3    Rodneyfort            34  Urban
4   West Robert            39  Urban

In [3]:
ride_data_df.head()

                 city                 date   fare        ride_id
0  Lake Jonathanshire  2019-01-14 10:14:22  13.83  5739410935873
1  South Michelleport  2019-03-04 18:24:09  30.24  2343912425577
2  Port Samanthamouth  2019-02-24 04:29:00  33.44  2005065760003
3          Rodneyfort  2019-02-10 23:22:03  23.44  5149245426178
4          South Jack  2019-03-06 04:28:35  34.58  3908451377344

In [4]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

In [5]:
rides_by_city = pyber_data_df.groupby(["type"]).count.["ride_id"]

SyntaxError: invalid syntax (1721119511.py, line 1)

In [6]:
#  1. Get the total rides for each city type
rides_by_city = pyber_data_df.groupby('type').count().ride_id
rides_by_city

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [7]:
drivers_by_city_type = city_data_df.groupby('type').sum().driver_count
drivers_by_city_type

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [8]:
test_by_city = city_data_df.groupby(["type"]).sum()["driver_count"]

In [9]:
test_by_city

type
Rural         78
Suburban     490
Urban       2405
Name: driver_count, dtype: int64

In [10]:
test1_by_city = pyber_data_df.groupby(["type"]).sum()["driver_count"]

In [11]:
test1_by_city

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [14]:
urban_cities_df = city_data_df[city_data_df["type"] == "Urban"]

suburban_cities_df = city_data_df[city_data_df["type"] == "Suburban"]

rural_cities_df = city_data_df[city_data_df["type"] == "Rural"]

#Get total rides by city type
urban_ride_count = urban_cities_df.groupby(["type"]).count()["ride_id"]

suburban_ride_count = suburban_cities_df.groupby(["type"]).count()["ride_id"]

rural_ride_count = rural_cities_df.groupby(["type"]).count()["ride_id"]

KeyError: 'ride_id'